In [1]:
import pandas as pd
import numpy as np

In [4]:
df1 = pd.DataFrame({'colors': ['blue', 'green', 'red'], 
                    'shapes': ['triangle', 'circle', 'square']})
df1

  colors    shapes
0   blue  triangle
1  green    circle
2    red    square

In [5]:
df2 = pd.DataFrame({'colors': ['blue', 'green', 'yellow'], 
                    'shapes': ['oval', 'hexagon', 'square'],
                    'transparency': ['clear', 'opaque', '50% transparent']})
df2

   colors   shapes     transparency
0    blue     oval            clear
1   green  hexagon           opaque
2  yellow   square  50% transparent

#### Concatenate dataframes

In [8]:
c = pd.concat([df1, df2],
          axis=0,            # axis 0 is default
          join='outer',      # outer join is default
          ignore_index=True, # ignore_index False is default
          # keys=[],         # You can pass in multiple values as indices
          # names=[],        # Names for the levels in the index
          # copy=False       # Do not copy data unnecessarily (default)
         )
c

   colors    shapes     transparency
0    blue  triangle              NaN
1   green    circle              NaN
2     red    square              NaN
3    blue      oval            clear
4   green   hexagon           opaque
5  yellow    square  50% transparent

##### Stack/Unstack

In [18]:
d = c.set_index(['colors', 'transparency'])
d

                          shapes
colors transparency
blue   NaN              triangle
green  NaN                circle
red    NaN                square
blue   clear                oval
green  opaque            hexagon
yellow 50% transparent    square

In [20]:
e = d.unstack()
e

                shapes
transparency       NaN 50% transparent clear   opaque
colors
blue          triangle             NaN  oval      NaN
green           circle             NaN   NaN  hexagon
red             square             NaN   NaN      NaN
yellow             NaN          square   NaN      NaN

In [23]:
e2 = e.stack()
e2

                          shapes
colors transparency
blue   NaN              triangle
       clear                oval
green  NaN                circle
       opaque            hexagon
red    NaN                square
yellow 50% transparent    square

In [24]:
e2.reset_index()

   colors     transparency    shapes
0    blue              NaN  triangle
1    blue            clear      oval
2   green              NaN    circle
3   green           opaque   hexagon
4     red              NaN    square
5  yellow  50% transparent    square

##### Merge dataframes

In [28]:
df1, df2

(  colors    shapes
 0   blue  triangle
 1  green    circle
 2    red    square,
    colors   shapes     transparency
 0    blue     oval            clear
 1   green  hexagon           opaque
 2  yellow   square  50% transparent)

In [29]:
df3 = pd.merge(df1,               # left dataframe
               df2,               # right dataframe
               how='inner',       # default 'inner' merge
               on='colors',       # default None for on
               left_on=None,      # left columns to merge on
               right_on=None,     # right column/s to merge on
               left_index=False,  # dont use left index to merge
               right_index=False  # dont use right index to merge
              )
df3

# Since there are two values of shapes for blue and green,
# it's split into shapes_x, and shapes_y. shapes_x comes
# from the left dataframe, shapes_y from the right dataframe.
# Inner join gets only the indices in both dataframes, and their values.

  colors  shapes_x shapes_y transparency
0   blue  triangle     oval        clear
1  green    circle  hexagon       opaque

In [32]:
df3.set_index('colors')

        shapes_x shapes_y transparency
colors
blue    triangle     oval        clear
green     circle  hexagon       opaque