In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'x': {0: 'a', 1: 'b'}, 'y': {0: '1', 1: '2'}, 'z': {0: '2018-05-01', 1: '2018-05-02'}})
df

   x  y           z
0  a  1  2018-05-01
1  b  2  2018-05-02

### Get the dtype of each column of the dataframe:

In [3]:
df.dtypes

x    object
y    object
z    object
dtype: object

In [4]:
print(f'type(df.dtypes): {type(df.dtypes)}, df.dtypes.index: {df.dtypes.index}')

type(df.dtypes): <class 'pandas.core.series.Series'>, df.dtypes.index: Index(['x', 'y', 'z'], dtype='object')

### To convert dtypes, use pd.to_datetime(), pd.to_timedelta(), pd.to_numeric():

In [5]:
s = df['x']
s

0    a
1    b
Name: x, dtype: object

In [6]:
pd.to_numeric(s, errors='ignore') # 'ignore' / 'coerce' / errors='raise' (default)

0    a
1    b
Name: x, dtype: object

In [7]:
pd.to_numeric(s, errors='coerce') # 'ignore' / 'coerce' / errors='raise' (default)

0   NaN
1   NaN
Name: x, dtype: float64

In [8]:
pd.to_numeric(s, errors='raise') # 'ignore' / 'coerce' / errors='raise' (default)

ValueError: Unable to parse string "a" at position 0

## Convert dataframe columns to dtypes

In [10]:
df

   x  y           z
0  a  1  2018-05-01
1  b  2  2018-05-02

In [14]:
df['y'] = pd.to_numeric(df['y'])

In [15]:
df['z'] = pd.to_datetime(df['z'])

In [17]:
df.dtypes

x            object
y             int64
z    datetime64[ns]
dtype: object

### Select columns of specific dtypes

In [18]:
df.select_dtypes(include='int')

   y
0  1
1  2

In [21]:
df.select_dtypes(include=np.number)

   y
0  1
1  2

In [19]:
df.select_dtypes(include='float')  # No column selected

Empty DataFrame
Columns: []
Index: [0, 1]

In [20]:
df.select_dtypes(include='datetime')

           z
0 2018-05-01
1 2018-05-02

In [23]:
df.select_dtypes(include='object')

   x
0  a
1  b

In [24]:
df.select_dtypes(exclude='object')

   y          z
0  1 2018-05-01
1  2 2018-05-02

### To get more information, see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html